body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f9f9f913;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  main {
    padding: 20px;
  }
  
  p {
    line-height: 1.6;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
  }

  header {
    background-color: coral;
  }

  footer {
    color: blueviolet;
  }

  .navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }

  .navbar a{
    color: blueviolet;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
  }

  .navbar a:hover{
    background-color: #555;
  }

  .navbar li{
    float: left;
  }

  